body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-image: url('../img/pattern.jpg');
    font-size: 12px;
}

.content {
    margin: 50px auto;
    padding: 25px;
    width: 100%;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 2px 40px 2px rgba(0, 0, 0, 0.8);
}

.post {
    text-align: right;
}

.well {
    line-height: 20px;
}
.well br {
    margin: 5px 0px;
}

.voting {
    float: right;
}
.topicvote {
    margin-bottom: 10px;
}

.user-tabs {
    margin-top: 15px;
}

.alert {
    position: absolute;
    top: 50;
    width: 25%;
    right: 10%;
}

.indent-95 {
    margin-left: 5%;
}
.indent-90 {
    margin-left: 10%;
}
.indent-85 {
    margin-left: 15%;
}
.indent-80 {
    margin-left: 20%;
}
.indent-75 {
    margin-left: 25%;
}
.indent-70 {
    margin-left: 30%;
}
.indent-65 {
    margin-left: 35%;
}
.indent-60 {
    margin-left: 40%;
}
